@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

@import './typography.css';
@import './common.css';
@import './utilities.css';

.social-media {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--purple-500);
    color: var(--white);
    padding: 2rem 2.5rem;
}

.social-media h1 {
    font-size: 2.7rem;
    margin-bottom: 0.9rem;
}

.social-media h1 span:nth-child(1) {
    color: var(--yellow-500);
}

.social-media .img-wrapper {
    max-width: 15rem;
}

.multiple-accounts {
    padding-inline: 1rem;
    padding-block: 1rem;
    background-color: var(--white);
}

.multiple-accounts .img-wrapper {
    max-width: 23rem;
}

.posting-schedule {
    padding: 1.1rem;
    padding-bottom: 0;
    background-color: var(--yellow-500);
    position: relative;
    overflow: hidden;
}

.posting-schedule h2 {
    padding-inline: 0 0.5rem;
    margin-bottom: -0.8rem;
}

.posting-schedule .img-wrapper {
    max-width: 12.5rem;
    transform: translateY(1.4rem);
}

.schedule-media {
    background-color: var(--purple-100);
    padding: 1.6rem 1.1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.schedule-media h2 {
    padding-inline: 1.1rem;
}

.schedule-media .img-wrapper {
    max-width: 19rem;
}

.schedule-media p {
    max-width: 19rem;
    text-align: center;
    font-size: 1.15rem;
    letter-spacing: -1px;
    padding-inline: 1.1rem;
}

.followers {
    background-color: var(--purple-500);
    color: var(--white);
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
    padding-block: 1.5rem;
}

.followers .img-wrapper {
    max-width: 14.5rem;
}

.followers h2 {
    font-size: 1.8rem;
    max-width: 12rem;
    text-align: center;
}

.growth {
    background-color: var(--white);
    padding-inline: 1.5rem;
    padding-block: 0.9rem 1.6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
}

.growth .procent {
    font-weight: var(--fw-500);
    font-size: 3rem;
    letter-spacing: -1px;
    display: flex;
    align-items: center;
    margin-bottom: -1rem;
}

.growth .procent span:nth-child(1) {
    padding-bottom: 0.35rem;
}

.growth p:last-of-type {
    font-size: 1.15rem;
}

.growth .img-wrapper {
    max-width: 10.1rem;
}

.create-content {
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
    justify-content: center;
    padding-inline: 1.7rem;
    padding-block: 1.8rem 1.4rem;
    background-color: var(--yellow-100);
}

.create-content h2 {
    font-size: 1.9rem;
}

.create-content h2 .italic {
    color: var(--purple-500);
}

.create-content .img-wrapper {
    max-width: 11rem;
}

.content-ai {
    background-color: var(--yellow-500);
    padding: 1.5rem 1.5rem 1.2rem 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.5rem;
}

.content-ai h2 {
    font-size: 1.9rem;
}

.content-ai .img-wrapper {
    max-width: 13.5rem;
}

@media (min-width: 37.5rem) {
    .schedule-media {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        overflow: hidden;

    }

    .growth {
        align-items: center;
    }

    .growth .img-wrapper {
        max-width: 13rem;
    }
}

@media (min-width: 65rem) {
    .create-content {
        grid-column: 1 / 2;
        grid-row: 1 / 9;
    }

    .schedule-media {
        grid-column: 4 / 5;
        grid-row: 1 / 12;
        overflow: hidden;
        align-items: normal;
    }

    .schedule-media h2 {
        line-height: 1.4rem;
    }

    .schedule-media .img-wrapper {
        width: 18rem;
        transform: translateX(1rem);
    }

    .schedule-media p {
        text-align: left;
        padding-inline: 0.4rem;
        line-height: 1.15rem;
        margin-top: -0.3rem;
    }

    .content-ai {
        grid-column: 1 / 2;
        grid-row: 9 / 17;
    }

    .social-media {
        grid-column: span 2;
        grid-row: 1 / 7;
    }

    .multiple-accounts {
        grid-column: 2 / 3;
        grid-row: 7 / 12;
        overflow: hidden;
    }

    .multiple-accounts .img-wrapper {
        width: 17.2rem;
        overflow: hidden;
        transform: translateX(0.7rem);
    }

    .multiple-accounts h2 {
        font-size: 1.65rem;
        line-height: 1.5rem;
        padding-inline: 0.5rem;
    }

    .posting-schedule {
        grid-column: 3 / 4;
        grid-row: 7 / 12;
    }

    .posting-schedule h2 {
        font-size: 1.65rem;
        line-height: 1.5rem;
        padding-inline: 0.5rem;
    }

    .followers {
        grid-column: 3 / 5;
        grid-row: 12 / 17;
        flex-direction: row;
        gap: 0.6rem;
        padding: 0.8rem 0 0 0rem;
    }

    .followers .img-wrapper {
        max-width: 12rem;
    }

    .followers h2 {
        max-width: 13rem;
        text-align: left;
    }

    .growth {
        grid-column: 2 / 3;
        grid-row: 12 / 17;
    }

    .growth .img-wrapper {
        max-width: 9rem;
    }

    .create-content h2,
    .content-ai h2,
    .followers h2 {
        font-size: 2.0rem;
    }

    article.feature p {
        font-size: 1.05rem;
    }
}