body {
    background-color: #F5F5F5;
}

main {
    display: flex;
    justify-content: center;
}

.img-wrapper {
    width: 100%;
}

.img-wrapper>img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.features {
    padding: 1.2rem;
    display: grid;
    gap: 1.7rem;
}

.feature {
    border-radius: 0.6rem;
}

@media (min-width: 37.5rem) {
    .features {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 65rem) {
    .features {
        height: 100vh;
        max-width: 65rem;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(16, 1fr);
    }
}